@import "../../App.scss";

.button-add {
  @extend .button-success;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: .1s;
  font-size: large;
  &:focus {
    outline: none;
  }
  &:active {
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
  }
}
