@import '../../App.scss';

ul {
  list-style-type: none;
 }

.nodecoration {
  text-decoration: none;
  color: $lighter;
  margin: 1rem 1rem;
  padding: 4px 8px 4px 8px;
  border-radius: 10px;
  &:hover { color: $lighter; background-color: darkcyan };
}

.horizontal {
  display: flex;
  justify-content: baseline;
}

.navbar-main {
  background-color: $darker;
  padding: 5px 0px 5px 0px; 
}