@import '../../App.scss';

ul {
  list-style-type: none;
 }

.nodecoration {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: pointer;
  min-width: 130px;
  padding: 10px 0 10px 0;
  &:hover {
    background-color: $lighter;
    color: black;
    border-radius: 7px;
  }
}

.fixedmenu {
  z-index: 20;
  position: fixed;
  right: 0;
  top: 64px;
  background-color: $darker;
  padding: 5px 0 5px 0;
  margin: 0 0 0 0;
}

.toright {
  float: right;
  margin-right: 10px;
}

.horizontal {
  display: flex;
  justify-content: baseline;
}

nav {
  z-index: 20;
  background-color: $darker;
  padding: 15px 0px 15px 0px;
  position: sticky;
  top: 0;
}

.paginate-main {
  display: block;
  width: 30%;
  text-align: center;
  color: white;
  margin: auto;
}

.filter {
  display: inline-block;
  width: 30vw;
  
  border: none;
    &:focus {
      border: none;
      outline: black;
    }
}

.filter input {
  border-radius: 10px;
  margin: 0 8px 0 0;
  padding: 0 15px 0 15px;
}

select {
  background-color: $success;
  min-width: 45px;
  margin: 10px;
  border-radius: 5px;
  font-size: medium;
}