$maincolor: rgb(107,170,222);
$darker: rgb(29,72,149);
$lighter: rgb(243,242,247);
$success: rgb(104,192,24);
$reject: rgb(220,59,54);

.button-base {
  padding: 2rem 2rem 1rem 1rem;
  border-radius: 10px;
  &:hover {
    background-color: gray;
  }
}

.button-success {
  @extend .button-base;
  background-color: $success;
}

.button-reject {
  @extend .button-base;
  background-color: $reject;
}